@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-family-default: "Roboto", sans-serif;
  --font-weight-default: 400;
  --font-style-default: normal;
  --primary-color: #ed3237;
  --primary-color-rgb: 237, 50, 55;
  --ghostwhite-color: #f8f8ff;
  --color-text-bg-success: #04945d;
  --bg-color-rgb-text-bg-success: 144, 238, 144;
  --graphics-bg-color: #ed3237;
  --graphics-border-color: #ee4f55;
  --graphics-border-width: 2;
  --graphics-color: #666;
}

* {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-style: var(--font-style-default);
}

body {
  background: no-repeat linear-gradient(var(--primary-color) 50%, var(--ghostwhite-color) 50%);
  background-attachment: fixed;
}

.form-control, .form-select {
  background-color: var(--ghostwhite-color);
  border-color: var(--primary-color);
}

.form-control:focus, .form-select:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.form-control::placeholder {
  font-size: 0.9rem;
  transition: all 350ms;
}

.form-control:focus::placeholder {
  font-size: 0.8rem;
}

.btn-danger {
  background-color: var(--primary-color) !important;
}

.bg-danger {
  background-color: var(--primary-color) !important;
}

.text-danger {
  color: var(--primary-color) !important;
}

#sidebar .nav-link {
  transition: all 350ms;
}

#sidebar .nav-link:hover {
  color: black !important;
}

input.form-check-input {
  border-color: var(--primary-color);
}

input.form-check-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), .25);
}

input.form-check-input:checked {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.pagination a.page-link {
  color: var(--primary-color);
}

.pagination a.page-link:focus {
  box-shadow: none;
}

.pagination .page-item.active span.page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

button.btn-close,
a.btn-close {
  box-shadow: none !important;
}

.alert-success {
  background-color: var(--primary-color) !important;
}

.text-bg-success {
  background-color: rgba(var(--bg-color-rgb-text-bg-success), 0.2) !important;
  color: var(--color-text-bg-success) !important;
}

.text-bg-danger {
  background-color: rgba(var(--primary-color-rgb), 0.2) !important;
  color: var(--primary-color) !important;
}

@media (max-width: 575.98px) {
  #searchProducts {
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  #sidebar {
    max-width: 100% !important;
  }
}