@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #ed3237;
  --primary-color-rgb: 237, 50, 55;
  --ghostwhite-color: #f8f8ff;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 576px;
  overflow-x: auto;
  background: no-repeat linear-gradient(var(--primary-color) 50%, var(--ghostwhite-color) 50%);
  background-attachment: fixed;
}

.form-control {
  background-color: var(--ghostwhite-color);
  border-color: var(--primary-color);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}

.form-control::placeholder {
  font-size: 0.9rem;
  transition: all 350ms;
}

.form-control:focus::placeholder {
  font-size: 0.8rem;
}

.btn-danger {
  background-color: var(--primary-color) !important;
}

.bg-danger {
  background-color: var(--primary-color) !important;
}

.text-danger {
  color: var(--primary-color) !important;
}

#sidebar .nav-link {
  transition: all 350ms;
}

#sidebar .nav-link:hover {
  color: black !important;
}

input.form-check-input {
  border-color: var(--primary-color);
}

input.form-check-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), .25);
}

input.form-check-input:checked {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.pagination a.page-link {
  color: var(--primary-color);
}

.pagination a.page-link:focus {
  box-shadow: none;
}

.pagination .page-item.active span.page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

button.btn-close,
a.btn-close {
  box-shadow: none !important;
}

.alert-success {
  background-color: var(--primary-color) !important;
}